$bg-color-theme: #FFFFFF;
@use "../abstracts";
.profile{
    position: relative;
    margin-top: 140px;


    @include abstracts.screen(lg) {
        margin-top: 110px;
    }
    @include abstracts.screen(md) {
        margin-top: 100px;
    }

    display: flex;
    justify-content: space-between;
    &-detail {
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: var(--secondary-color-background, #FFF);
        width: calc(100% - 375px);
        height: auto;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.20);
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            width: 100%;

            &__my-wallet {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                width: 100%;
                overflow: hidden;
                &__title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;
                    width: 100%;
                    height: auto;
                    p {
                        color: var(--secondary-color-secondary-1, #1A162E);
                        font-family: Gordita;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 34px; 
                        width: 100%;
                    }
                    p + p {
                        color: var(--secondary-color-secondary-1, #1A162E);
                        font-family: Gordita;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px; 
                    }
                }
                &__card {
                    display: flex;
                    align-items: flex-start;
                    gap: 30px;
                    .card_blank {
                        display: flex;
                        height: 171px;
                        padding: 56px 89px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        border-radius: 10px;
                        border: 1px dashed var(--secondary-color-secondary-3, #D2D1D6);
                        &__addToCard {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 14px;
                            cursor: pointer;
                            img {
                                width: 20px;
                                height: 20px;
                                flex-shrink: 0;
                            }
                            span {
                                color: var(--secondary-color-secondary-3, #D2D1D6);
                                font-family: Gordita;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 20px; 
                            }
                        }
                    }
                    .card_title {
                        width: 281px;
                        height: 171px;
                        flex-shrink: 0;
                        border-radius: 10px;
                        background: #1E2E69;
                        position: relative;
                        .bank_card {
                            display: inline-flex;
                            align-items: center;
                            gap: 6px;
                            position: absolute;
                            left: 20px;
                            top: 20px;
                            img {
                                width: 20px;
                                height: 20px;
                            }
                            span {
                                color: var(--secondary-color-background, #FFF);
                                font-family: Gordita;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 20px; 
                            }
                        }
                        .phane_icon {
                            width: 137px;
                            height: 137px;
                            position: absolute;
                            left: 143px;
                        }
                        #id_card {
                            color: var(--secondary-color-background, #FFF);
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-family: Gordita;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px;
                            position: absolute;
                            left: 20px;
                            top: 70px;
                        }
                        .oval_icon {
                            width: 42px;
                            height: 28px;
                            position: absolute;
                            bottom: 20px;
                            right: 20px;
                        }
                        &__holder {
                            display: inline-flex;
                            flex-direction: column;
                            align-items: flex-start;
                            position:absolute;
                            left: 25px;
                            bottom: 20px;
                            p {
                                color: var(--secondary-color-background, #FFF);
                                font-family: Gordita;
                                font-size: 8px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px; /* 175% */
                            }
                            p + p {
                                color: var(--secondary-color-background, #FFF);
                                font-family: Gordita;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px; /* 140% */
                            }
                        }
                        &__exp {
                            display: inline-flex;
                            flex-direction: column;
                            align-items: flex-start;
                            position: absolute;
                            bottom: 20px;
                            left: 112px;
                            p {
                                color: var(--secondary-color-background, #FFF);
                                font-family: Gordita;
                                font-size: 8px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px; /* 175% */
                            }
                            p + p {
                                color: var(--secondary-color-background, #FFF);
                                font-family: Gordita;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 14px; /* 140% */
                            }
                        }
                    }
                }
            }
            &__acc-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                &__detail {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    &__items {
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;
                        .bg-color-1 {
                            display: flex;
                            width: 442px;
                            padding: 10px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 10px;
                            border-radius: 10px;
                            background: var(--Background-2, #F6F6F6);
                        }
                        &__email {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            
                            .icon {
                                display: flex;
                                padding: 15px;
                                align-items: flex-start;
                                gap: 10px;
                                border-radius: 8px;
                                background: white;
                                filter: none;
                                
                            }
                            .icon_title {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 6px;
                                p {
                                    color: var(--secondary-color-secondary-1, #1A162E);
                                    font-family: Gordita;
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 22px; /* 146.667% */
                                }
                                p + p {
                                    color: var(--secondary-color-secondary-1, #1A162E);
                                    font-family: Gordita;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px; /* 142.857% */
                                }
                            }
                        }
                    }
                }
            }
            &__list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                width: 100%;
                &__items {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    width: 100%;
                    &--1 {
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;
                        width: 100%;
                        .img-bg-items--1 {
                            width: 151px;
                            height: 108px;
                            background: url('../../assets/img/profile_img/Rectangle-35.svg') no-repeat;
                            background-size: contain;
                        }
                        .img-bg-items--2 {
                            width: 151px;
                            height: 108px;
                            background: url('../../assets/img/profile_img/Rectangle-36.svg') no-repeat;
                            background-size: contain;
                        }
                        .product-name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 10px;
                            flex-grow: 1;
                            .price-card {
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                span {
                                    color: var(--secondary-color-secondary-1, #1A162E);
                                    font-family: Gordita;
                                    font-size: 22px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 32px; /* 145.455% */
                                }
                                a {
                                    display: flex;
                                    padding: 10px 20px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;
                                    border-radius: 20px;
                                    background: var(--yellow-yellow, #FFB700);
                                    span {
                                        color: var(--secondary-color-secondary-1, #1A162E);
                                        font-family: Gordita;
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 22px; /* 146.667% */
                                    }
                                }
                            }
                            p {
                                color: var(--secondary-color-secondary-1, #1A162E);
                                font-family: Gordita;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 22px; /* 146.667% */
                            }
                        }
                    }
                }
            }
        }
    }
    &-detail__add-card, &-detail__personal-info {
        padding: 30px;
        border-radius: 20px;
        background: var(--secondary-color-background, #FFF);
        width: calc(100% - 375px);
        height: auto;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.20);
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;
            width: 100%;
            &--form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                width: 100%;
                &__title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    span {
                        color: var(--secondary-color-secondary-1, #1A162E);
                        font-family: Gordita;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 32px; /* 145.455% */
                    }
                }
                &__input {
                    display: flex;
                    align-items: flex-start;
                    gap: 30px;
                    &--1 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 30px;
                        .input-title {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 20px;
                            span {
                                color: var(--secondary-color-secondary-1, #1A162E);
                                font-feature-settings: 'clig' off, 'liga' off;
                                font-family: Gordita;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 26px; /* 144.444% */
                            }
                            input {
                                display: flex;
                                width: 437px;
                                padding: 12px 170px 12px 12px;
                                align-items: center;
                                gap: 10px;
                                border-radius: 10px;
                                border: 1px solid var(--secondary-color-secondary-3, #D2D1D6);
                                font-feature-settings: 'clig' off, 'liga' off;

                                /* Medium 18 */
                                font-family: Gordita;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 26px; /* 144.444% */
                            }
                            ::placeholder {
                                color: var(--secondary-color-secondary-3, #D2D1D6);
                                font-feature-settings: 'clig' off, 'liga' off;

                                /* Medium 18 */
                                font-family: Gordita;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 26px; /* 144.444% */
                            }
                        }
                    }
                }
                &__preferences {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    p {
                        color: var(--secondary-color-secondary-1, #1A162E);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Gordita;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px; /* 144.444% */
                    }
                    label {
                        color: var(--secondary-color-secondary-1, #1A162E);
                        font-family: Gordita;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px; /* 146.667% */
                    }
                    input {
                        background-color: white;
                        cursor: pointer;
                        margin: 0px 2.75px;
                        outline: none;
                    }
                    #myCheckbox:checked {
                        background: red; /* Màu nền mới */
                        border: 1px solid blue; /* Màu viền mới */
                        color: green; /* Màu dấu tích mới */
                        content: "\2713"; /* Dấu tích trắng ✓ */
                        font-size: 20px;
                    }
                }
                &__confirm {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    justify-content: flex-end;
                    width: 100%;
                    #btn-cancel,#btn-cancel-personal {
                        color: var(--secondary-color-secondary-1, #1A162E);
                        font-family: Gordita;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 150% */
                        cursor: pointer;
                        padding: 10px 20px;
                        border-radius: 30px;
                        background: var(--yellow-yellow, #FFB700);
                    }

                    a {
                        display: flex;
                        padding: 10px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 30px;
                        background: var(--yellow-yellow, #FFB700);
                        cursor: pointer;
                        span {
                            color: var(--secondary-color-secondary-1, #1A162E);
                            font-family: Gordita;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px; /* 150% */
                        }
                    }
                }
            }
        }
    }
}
.profile-tab {
    width: 345px;
    height: 837px;
    border-radius: 20px;
    padding: 0px 0px 31px 0px;
    gap: 10px;
    background: $bg-color-theme;
    box-shadow: 0px 20px 60px 10px #EDEDF633;

    &-child {
        width: 100%;
        display: grid;
        height: 806px;
        gap: 30px;
    }
    &-child_avt {
        width: 100%;
        height: 246px;
        border-radius: 20px 20px 0px 0px;
        position: relative;
    }
    &-child_avt_detail {
        width: 205px;
        height: 186px;
        position: absolute;
        top: 40px;
        left: 70px;
        gap: 20px;
        display: grid;
        z-index: 2;
        grid-template-rows: 1fr 1fr; /* Hai hàng */
        grid-template-columns: 1fr; /* Một cột */
        align-items: center; /* Căn giữa theo chiều dọc */
        justify-items: center; /* Căn giữa theo chiều ngang */
        img {
            width: 116px;
            height: 116px;
            border: 5px;
            box-shadow: 0px 4px 14px 2px #00000014;
            border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
            
        }
        &_name {
            width: 205px;
            height: 50px;
            gap: 2px;
            display: grid;
            align-items: center; /* Căn giữa theo chiều dọc */
            justify-items: center;
            p {
                width: 105px;
                height: 26px;
                font-family: "Gordita";
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
            }
            p + p {
                width: 205px;
                height: 22px;
                font-family: Gordita;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: center;

            }
        }
    }
    &-child_link {
        width: 266px;
        height: 530px;
        padding: 0px 0px 0px 30px;
        gap: 30px;
        display: grid;
        .profile_title {
            p {
                width: 100%;
                height: 26px;
                font-family: Gordita;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;
                color: #1A162E;
            }
            ul {
                width: 236px;
                height: auto;
                gap: 10px;
                display: grid;
                li {
                    display: grid;
                    gap: 10px;
                    height: 24px;
                    width: 100%;
                    grid-template-columns: 24px auto;
                    grid-template-rows: 1fr;
                    cursor: pointer;
                    img {
                        width: 24px;
                        height: 24px;
                        display: block;
                    }
                    .cl-red {
                        color:#0071dc;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    span {
                        width: 100%;
                        height: 22px;
                        font-family: Gordita;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #1A162E;
                    }
                }

            }
        }
        &_mana_acc {
            width: 100%;
            height: 134px;
            gap: 16px;
            display: grid;
            
        }

        &_my-items {
            width: 100%;
            height: 134px;
            gap: 16px;
            display: grid;

        }

        &_sub {
            width: 100%;
            height: 66px;
            gap: 16px;
            display: grid;
            
        }

        &_service {
            width: 100%;
            height: 106px;
            gap: 16px;
            display: grid;

        }
    }
    
}
.bg-shadown {
    width: 345px;
    height: 246px;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1A162E 100%);
    box-shadow: 0px 20px 60px 10px #EDEDF633;
}
.img-bg {
    width: 345px;
    height: 246px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 20px 60px 10px #EDEDF633;
    display: block;
    position: absolute;
    top: 0px;
}
/* Đặt hiệu ứng chuyển đổi cho display và opacity */
#info-detail, #add-card {
    opacity: 1;
    transition: opacity 15s, display 15s; /* Hiệu ứng chuyển đổi 0.3 giây */
}


  

  